<mat-toolbar color="accent" >
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <button mat-button routerLink="/">Home</button>
    <span><button mat-button routerLink="/about">About</button></span>
    <span><a routerLink="/contact">Contact Us</a></span>

    <span><a routerLink="/company">ข้อมูลบริษัท</a></span>

    
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer (click)="drawer.toggle()" > 
  <!-- </mat-sidenav> mode="side" opened role="navigation" > -->
    <mat-nav-list>
        
      
      <a mat-list-item routerLink='/first'>First Component</a>
      <a mat-list-item routerLink='/second'>Second Component</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <section><router-outlet></router-outlet></section>
  </mat-sidenav-content>
</mat-sidenav-container>