.blue-snackbar{
    background-color: #ffffff;
  }
  .mat-snack-bar-container {
    color: rgba(255,255,255,.7);
    background: #eb1717;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}