<h1>{{'item.title' | translate}}</h1>
<mat-card class="example-card">

	<!-- Search Header -->
	<mat-card-header>
	<mat-card-title></mat-card-title>
	</mat-card-header>
	
	<!-- Search Content -->
	<mat-card-content>
	
	<form class="example-form" [formGroup]="searchForm">
	
	<!-- First Row-->
	<div class="row">
	
	<div class="col-sm-6">
	<mat-form-field class="input_text">
	<input formControlName="item_name" matInput placeholder="{{'item_type.item_type_name' | translate}}">
	</mat-form-field>
	</div>
	
	
	</div>
	
	</form>
	
	
	</mat-card-content>
		<mat-card-actions>
			<button mat-button (click)="onSearchClick()">{{'common.search' | translate}}</button>
			<button mat-button (click)="onClear()">{{'common.clear' | translate}}</button>
		</mat-card-actions>
	</mat-card>
	<br/>
	<div class="example-button-row">
		<a [routerLink]="['/item_type_input',-1]" class="btn btn-success">
			<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>{{'common.add' | translate}}
		</a>
	</div>
	
	<mat-card class="example-card">
		
		<div class="example-loading-shade"
			*ngIf="isLoadingResults || isRateLimitReached">
			<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
				{{'common.loading' | translate}}
			</div>
		</div>
	
		<table mat-table [dataSource]="dataSource" 
			matSort matSortActive="item_type_name" matSortDisableClear matSortDirection="asc">
	  
			<!-- Position Column -->
			<ng-container matColumnDef="item_type_name" >
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{'item.item_name' | translate}} </th>
				<td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
			</ng-container>
	  
	
			<!-- Name Column -->
			<ng-container matColumnDef="update" >
				<th mat-header-cell *matHeaderCellDef  > </th>
				<td mat-cell *matCellDef="let element">
					<a [routerLink]="['/item_type_input',element.id]" class="btn btn-info">
						<mat-icon aria-label="Example icon-button with a heart icon">build</mat-icon>{{'common.edit' | translate}}
					</a>
				</td>
			</ng-container>
	
			<!-- Name Column -->
			<ng-container matColumnDef="delete" >
				<th mat-header-cell *matHeaderCellDef  > </th>
				<td 	mat-cell *matCellDef="let element">
					<button mat-raised-button color="warn" (click)="onDelete(element.id)">
						<mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>{{'common.delete' | translate}}
					</button>
				</td>
			</ng-container>
	  
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	  
		<mat-paginator [pageSizeOptions]="AR_pages" [length]="resultsLength" showFirstLastButtons></mat-paginator>
	</mat-card>
	  