<h1 mat-dialog-title>ข้อมูลวันหยุด เพิ่ม/แก้ไข</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="inputForm"  >
    <div class="col-md-3">
      วันหยุด
    </div>
    <div class="col-md-9">
        <input matInput [matDatepicker]="holiday_date" formControlName="holiday_date">
        <mat-datepicker-toggle matSuffix [for]="holiday_date"></mat-datepicker-toggle>
        <mat-datepicker #holiday_date></mat-datepicker>
    </div>
  </form>
  {{inputForm.value|json}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ยกเลิก</button>
  <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial>ยืนยัน</button>
</div>

