<mat-card class="example-card">

	<!-- Search Header -->
	<mat-card-header>
	<mat-card-title>ประเภทวัตถุดิบ{{readonlyText}}</mat-card-title>
	</mat-card-header>
	
	<!-- Search Content -->
	<mat-card-content>
	
	<form class="example-form" [formGroup]="inputForm" [style.fontSize.px]="16">
	
	<!-- First Row-->
	<div class="row">
	
	<div class="col-sm-3">
	<mat-form-field class="input_text">
		<input [attr.readonly]="bReadonly" formControlName="item_type_name" matInput placeholder="ประเภทวิตถุดิบ">
		<mat-error *ngIf=" inputForm.controls['item_type_name'].hasError('required')">
			กรุณากรอกข้อมูล
		</mat-error>	
	</mat-form-field>
	</div>
	

	<div class="col-sm-12">
		<mat-form-field class="input_text">
			<textarea [attr.readonly]="bReadonly"  matInput formControlName="remark" id = "remark" placeholder="หมายเหตุ" rows=5></textarea>
	  	</mat-form-field>
	</div>



	</div>
	
	</form>
	
	
	</mat-card-content>
		
	<mat-card-actions>
		<button mat-raised-button color="primary" (click)="onBackClick()">
			<mat-icon aria-label="Example icon-button with a heart icon">backspace</mat-icon> กลับ
		</button>
		<button mat-raised-button color="primary" (click)="onSave()">
			<mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon> บันทึก
		</button>
	</mat-card-actions>


</mat-card>


