<table [ngStyle] = "{'width': width+label_width}">
	<tr>
		<td [ngStyle] = "{'width': width}">
			<mat-form-field class="textInput" [ngStyle] = "{'width': width }">
				<input matInput [placeholder]="show_text" [type]="type_input" [(ngModel)]="code" (change)="onLostFocus()">
				
			</mat-form-field>
		</td>
		<td>
			<a class="material-icons orange600" (click)="openDialog()">search</a>
		</td>
		<td *ngIf="label_width > 0" class="textLabel" [ngStyle] = "{'width': label_width}">
			{{value}}
		</td>
	</tr>
</table>

