.textInput{
	margin-right: 5px;
	margin-left: 5px;
}

.textDisplay{
	margin-left: 5px;
}

.myButton{
	width: 5px!important;
	min-width: unset!important;
	text-align: center;
}

.material-icons.orange600 {
	color: #FB8C00;
	font-size: 28px;
}

.textLabel {
	

}