<h1 mat-dialog-title>รายการ ค้นหา</h1>
<mat-card>
	<mat-form-field class="textInput" class="width_code" >
		<input matInput placeholder="รหัส" [(ngModel)]="search_code">
	</mat-form-field>
	
	<mat-form-field class="textInput" >
		<input matInput placeholder="ชื่อ" [(ngModel)]="search_name">
	</mat-form-field>

	<button mat-raised-button (click)="onSearch()">ค้นหา</button>


</mat-card>

<br/>

<div class="row wow pagenation">
	<div class="col-md-12">

		<div class="card">
			<div class="card-body">
	
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th scope="col">รหัส</th>
							<th scope="col">ชื่อ</th>
						</tr>
					</thead>
	
					<tbody>
						<tr *ngFor="let my_data of grdData" (click)="onRowSelected(my_data);" >
							<td nowrap="" class="c" [ngClass]="{'row_selected':my_data == returnData}">{{my_data.code}}</td>
							<td nowrap="" class="c" [ngClass]="{'row_selected':my_data == returnData}">{{my_data.display}}</td>
	
						</tr>

					</tbody>
				</table>
	
			</div><!--/.card-body-->
		</div><!--/.Card-->
	
	</div><!--/.col-md-12-->
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">ยกเลิก</button>
	<button mat-button [mat-dialog-close]="returnData" >ยืนยัน</button>
</div>