<h1 mat-dialog-title>Hi {{data.service_name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>

</div>

<mat-card class="example-card">
	<div class="row wow pagenation">
		<div class="col-md-12">

			<div class="card">
				<div class="card-body">
		
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th scope="col">รหัส</th>
								<th scope="col">ชื่อ</th>
							</tr>
						</thead>
		
						<tbody>
							<tr *ngFor="let my_data of grdData" (click)="onRowSelected(my_data);">
								<td nowrap="" class="c">{{my_data.code}}</td>
								<td nowrap="" class="c">{{my_data.display}}</td>
		
							</tr>

						</tbody>
					</table>
		
				</div><!--/.card-body-->
			</div><!--/.Card-->
		
		</div><!--/.col-md-12-->
	</div>
</mat-card>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>