<p>
  home works!
</p>

<form class="example-form" [formGroup]="registerForm" >
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input id="name1234" formControlName="name1234" matInput placeholder="Favorite fooddddd">
  </mat-form-field>
<br/>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
