<p>
  about works!
</p>
<button (click)="onShow()">ddd</button>
<table class="table table-bordered table-striped" style="margin: auto; width: 99%;">

    <!-- ↓権限別：業務 auth_duties =================↓ -->
    <thead>
    <tr>
    <th class="f_12" style="width: 160px;" rowspan="2" scope="col">所属名(所属コード)</th>
    <th class="f_12" style="width: 180px;" rowspan="2" scope="col">対象者氏名(職員番号)</th>
    <th style="width: 120px;" rowspan="2" scope="col">対象月・期</th>
    <th style="width: 100px;" rowspan="2" scope="col">対象区分</th>
    <th rowspan="2" colspan="2" scope="col">実施場所/日時</th>
    <th class="c" colspan="4" scope="col f_13">助言指導</th>
    <th class="f_12 c" style="width: 50px;" rowspan="2" scope="col">対象外</th>
    </tr>
    
    <tr>
    <th class="f_11 c" style="width: 65px;" scope="col">資料(職員)</th>
    <th class="f_11 c" style="width: 65px;" scope="col"><span class="F_13 c" style="width: 80px;">資料(所属)</span></th>
    <th class="c" style="width: 50px;" scope="col">結果</th>
    <th class="c f_11" style="width: 65px;" scope="col">改善状況</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>
    <td>
    <div class="abbr" style="width: 120px;">Test_Department</div>
    <div class="abbr f_10" style="width: 120px;">(TEMP001)</div>
    </td>
    <td>
    <a href="/hyogo_healthcare/medchkresultmenu/index/ADMIN00001">Test Admin User</a>
    <div class="f_12">(ADMIN00001)</div>
    </td>
    <td>
    2018年 3月</td>
    <td>月100h超</td>
    
    <td>
    --</td>
    <td class="c" style="width: 60px;">
    <a class="btn btn-primary btn-sm" href="/hyogo_healthcare/overtimelocationstaff/edit/1/init">登録</a></td>
    <td class="c">
    --</td>
    <td class=" c">
    <a class="btn btn-default btn-sm" href="/hyogo_healthcare/overtimedocregstaffdpt/img/doc_interview_dpt/1?rand=2042429366">閲覧</a></td>
    <td class="c">
    <a class="btn btn-primary btn-sm" href="/hyogo_healthcare/overtimeresultstaff/edit/1/init">登録</a></td>
    <td class=" c">
    --</td>
    <td class=" c">-</td>
    </tr>
    </tbody>
    <!-- ↑権限別：業務 auth_duties =================↑ -->
    
    
    <!-- ↓権限別：所属 auth_department =============↓ -->
    </table>