<h1>{{'item.title' | translate}}</h1>

<form class="example-form" [formGroup]="inputForm" [style.fontSize.px]="16" >
<mat-card class="example-card">

<mat-card-header>
<mat-card-title></mat-card-title>
</mat-card-header>

<mat-card-content>


<div class="container">

<!-- Item Code -->
<div class="row">

<div class="col-sm-2">
<mat-form-field class="input_text">
<input formControlName="item_code" matInput placeholder="{{'item.item_code' | translate}}">
</mat-form-field>
</div>

<div class="col-sm-10">
<mat-form-field class="input_text">
<input formControlName="item_name" matInput placeholder="{{'item.item_name' | translate}}">
</mat-form-field>
</div>

</div>

<div class="row">
	<div class="col-sm-6">
		<my-dropdown 
			[width]				= 100
			[label_width]		= 200
			[col_display]		= "'unit_name'"
			[col_value]			= "'unit_code'"
			[table_name]		= "'m_units'"
			[order_by]			= "'unit_code'"
			[where_condition]	= "'del_flag = 0'"
			[code]				= "inputForm.get('unit_code').value"
			[show_text]			= "'item.unit_code' | translate"
			(return_code)		= "onUnitChange($event)">
		</my-dropdown>
	</div>

	<div class="col-sm-6">
		<my-dropdown 
			[width]				= 100
			[label_width]		= 200
			[col_display]		= "'item_type_name'"
			[col_value]			= "'item_type_code'"
			[table_name]		= "'m_item_types'"
			[order_by]			= "'item_type_code'"
			[where_condition]	= "'del_flag = 0'"
			[code]				= "inputForm.get('item_type_code').value"
			[show_text]			= "'item.item_type' | translate"
			(return_code)		= "onItemTypeChange($event)">
		</my-dropdown>
	
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<mat-slide-toggle formControlName="lot_flag">
			{{'item.lot_flag' | translate}}
		</mat-slide-toggle>
	</div>
	
	<div class="col-sm-3">
		<mat-slide-toggle formControlName="mrp_flag">
			{{'item.mrp_flag' | translate}}
		</mat-slide-toggle>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<mat-form-field class="input_text">
		<input formControlName="remark" matInput placeholder="รหัสวัตถุดิบ">
		</mat-form-field>
	</div>

</div>


</div>

</mat-card-content>

<mat-card-actions>
	<button mat-raised-button color="primary" (click)="onBackClick()">
		<mat-icon aria-label="Example icon-button with a heart icon">backspace</mat-icon> กลับ
	</button>
	<button mat-raised-button color="primary" (click)="onSubmit()">
		<mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon> บันทึก
	</button>
</mat-card-actions>

</mat-card>

</form>
